@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SecondaSoft";
  src: url("./assets/fonts/SecondaSoft-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SecondaSoft";
  background-color: #000a18;
}
